html {
    background: var(--bg-main) url(../images/bg-desktop.svg) no-repeat center;
    background-size: cover;
    font-size: 62.5%;
    color: #f1f1f1;
}

/* HEADER */

.header{
    padding: 4rem;
}

/* MAIN */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem 0 6rem;
    height: 75vh;
    width: 100%;
}

.container .all-text {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: 560px;
}

.container .title {
    font-family: 'Poppins', sans-serif;
    font-size: 4.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.container .text-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.95rem;
    margin-bottom: 2rem;
    line-height: 30px;
}

.container .big-btn button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--bg-main);
    padding: 1.2rem 5rem;
    border-radius: 25px;
    box-shadow: 1px 1px 16px #414141;
    cursor: pointer;
    margin-bottom: 70px;
}


.container .big-btn button:hover {
    color: #f1f1f1;
    background: var(--active-hover);
    transition: ease-in-out 200ms;
}

/* FOOTER */

footer {
    margin-top: 20px;
}

.social-menu ul{
    display: flex;
    font-size: 1.6rem;
    justify-content: end;
    margin-right: 4rem;
}

.social-menu ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 15px;
    height: 35px;
    width: 35px;
}

.social-menu ul li a {
    color: #f1f1f1;
}

.social-menu ul li a:hover {
    color: var(--active-hover);
    transition: ease-in-out 200ms;
}

p.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 65%, 80%);
}

@media(max-width:1024px) {

    .image img{
        width: 100%;
    }

    .container .all-text {
        width: 100%;
    }

    .container .title {
        font-size: 3.8rem;
    }

    .container .big-btn {
        margin-bottom: 30px;
    }
}

@media(max-width: 970px) {
    html {
        background: var(--bg-main) url(../images/bg-mobile.svg) no-repeat;
        background-size: 100%;
    }

    .header {
        padding-bottom: 0;
        height: auto;
    }

    .header .logo {
        margin-bottom: 4rem;
    }

    .container {
        display: block;
        height: auto;
    }

    .image {
        display: flex;
        justify-content: center;
    }

    .image img {
        width: 80%;
    }
    
    .container .all-text {
        text-align: center;
        margin: 0;
    }

    .all-text .title {
        font-size: 3.2rem;
    }

    .all-text .text-description {
        font-size: 1.6rem;
    }

    .all-text .big-btn {
        margin-bottom: 0;
    }

    .social-menu ul {
        margin-bottom: 20px;
        justify-content: center;
        margin-right: 0;
    }

    .social-menu ul li {
        margin: 0 15px;
    }

    footer {
        margin: 0;
    }
}

@media(max-width: 475px) {

    .header .logo {
        width: 50%;
    }

    .image img {
        width: 100%;
        margin-bottom: 50px;
    }

    .container .all-text {
        margin: 0;
    }

    .all-text .title {
        font-size: 2.5rem;
    }

    .all-text .text-description {
        font-size: 1.5rem
    }

    .container .big-btn {
        margin: 0;
    }
}