html {
    background: var(--bg-main) url(../images/bg-desktop.svg) no-repeat;
    font-size: 62.5%;
    color: #f1f1f1;
    max-width: var(--max-width-size);
}

/* HEADER */

.header{
    padding: 4rem;
}

/* MAIN */

.container {
    padding: 3rem 6rem 0 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
}

.container .title {
    font-family: 'Poppins', sans-serif;
    font-size: 4.3rem;
    font-weight: 600;
    margin-top: 4rem;
}

.container .text-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.95rem;
    margin-top: 2rem;
    line-height: 30px;
}

.container .big-btn {
    padding-top: 2rem;
}

.container .big-btn button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--bg-main);
    padding: 1.2rem 5rem;
    border-radius: 25px;
    box-shadow: 2px 2px 10px 1px #0c0c0c;
    cursor: pointer;
}


.container .big-btn button:hover {
    color: #f1f1f1;
    background: var(--active-hover);
    transition: ease-in-out 200ms;
}

/* FOOTER */

.social-menu ul{
    display: flex;
    font-size: 1.8rem;
    justify-content: end;
    margin-right: 4rem;
}

.social-menu ul li {
    display: flex;
    align-items: center;
    padding: .9rem;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 15px;
}

.social-menu ul li:hover {
    color: var(--active-hover);
    transition: ease-in-out 200ms;
}

.social-menu .fa-instagram {
    padding-left: .1rem;
    padding-right: .1rem;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    bottom: 0;
}

.attribution a { 
    color: hsl(228, 65%, 80%);
}

@media(max-width:1250px) {

    .image img{
        width: 100%;
    }

    .container .title {
        font-size: 3.8rem;
    }

    .container .big-btn {
        margin-bottom: 30px;
    }
}

@media(max-width: 970px) {

    .header {
        padding-bottom: 0;
    }

    .container {
        display: block;
    }

    .image {
        display: flex;
        justify-content: center;
    }

    .image img {
        width: 80%;
    }
    
    .container .all-text {
        text-align: center;
    }

    .all-text .title {
        font-size: 3.2rem;
    }

    .all-text .text-description {
        font-size: 1.6rem;
    }

    .social-menu ul {
        margin-bottom: 20px;
        justify-content: center;
        margin-right: 0;
    }

    .social-menu ul li {
        margin: 0 15px;
    }
}

@media(max-width: 475px) {
    html {
        background: var(--bg-main) url(../images/bg-mobile.svg) no-repeat;
        background-size: 100%;
    }

    .image img {
        width: 100%;
    }

    .all-text .title {
        font-size: 2.5rem;
    }

    .all-text .text-description {
        font-size: 1.5rem
    }
}